body {background-color: beige;}

header h1 {font-size: 200%; text-align: center; padding: 20px 0; background-color: rgba(129, 207, 243, 0.537);
    font-family: Georgia, 'Times New Roman', Times, serif;}
    
li {text-align: center; position: relative; display: inline-block; font-size: 150%; padding: 30px;
}

nav {text-align: center; background-color: aquamarine;}

:root {--color1:black;}

a {text-decoration: none;}
a:active {color: var(--color1);}
a:link {color: var(--color1)}
a:visited {color: var(--color1)}




/* 
This part is for About Me section */
#aboutme {position: relative; top: 50px; background-color: aqua; border-style: solid;display: flex; flex-wrap: wrap;
    flex-direction: column; align-items: center; margin-bottom: 7%;;}

#text {font-size: 250%;}

#paragraph {text-align: center;}
/* 
About Me section is above */



#mywork {display: flex; }
#workexamples {display: flex; flex-wrap: wrap;justify-content: center;
    width: 65vw; border-left: solid;}
#header {width: 35vw; font-size: 3vw; text-align: right;}
.card {margin: 0px 50px 20px 50px; width: 20vw; height: 20vw;}
#image1 {width: 40vw; height: 30vw;}




/* This section is about the Footer */
footer {display: flex; margin-top: 30px; }
#footer2 {display: flex; flex-wrap: wrap; justify-content: center; width: 65%;
align-items: center; justify-content: space-around; border-left-style: solid;}
#contactme{width: 35%; text-align: right; font-size: 30px;}

/* Footer section is above */


@media screen and (max-width: 890px){
    footer{display: flex; flex-direction: column;}
    #footer2 {display: flex; flex-direction:column; width: 100%;}
    #contactme {text-align: center; width: 100%; font-size: 5vw; margin-bottom: 3vw;}
    
    
    #mywork, #workexamples {margin-top: 100px; display: flex;
         flex-direction: column; align-items: center; border-style: none;}
    #workexamples {margin: 10px; display: flex;} 
    #header {text-align: center; font-size: 8vw;}      
}



















    



    






























