header h1 {font-size: 200%; text-align: center; padding: 20px 0; background-color: rgba(129, 207, 243, 0.537);
        font-family: Georgia, 'Times New Roman', Times, serif;}
li {text-align: center; position: relative; display: inline-block; font-size: 150%; padding: 30px;
    }

nav {text-align: center; background-color: aquamarine;}

