body {
  background-color: #ffffff !important;
}
:root {
  --color1: black;
}

/* this is for the navigation section */
.bg-light {
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  ) !important;
  padding: 15px 5px !important;
  font-size: 25px !important;
}

.nav-link {
  margin-left: 10px !important;
}

a {
  text-decoration: none;
}
a:active {
  color: var(--color1);
}
a:link {
  color: var(--color1);
}
a:visited {
  color: var(--color1);
}

/* 
This part is for About Me section */
#aboutme {
  margin: 200px 0px;
}

#text {
  font-size: 50px;
  margin-bottom: 50px;
}

#paragraph {
  font-size: 30px;
}

#aboutme {
  animation: fadeIn 10s;
  -webkit-animation: fadeIn 10s;
  -moz-animation: fadeIn 10s;
  -o-animation: fadeIn 10s;
  -ms-animation: fadeIn 10s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#myimage {
  border-radius: 100%;
}
/* 
About Me section is above */

/* this is the projects section */

#header {
  font-size: 3vw;
}

/* .card {
  width: auto;
  height: auto;
} */


.workexamples {
  margin-bottom: 3vw;
}


.works {
  background: linear-gradient(
    90deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  text-align: center;
}

.title {
  font-size: 50px;
  color: #ffffff;
}
.projectinfo,
.skills {
  font-size: 20px;
  color: #ffffff;
  margin: 4vw;
}
.site {
  color: rgb(253, 253, 253);
  background-color: rgba(138, 2, 129, 0.563);
  width: fit-content;
  margin: auto;
  padding: 1vw;
  border-radius: 20%;
}

/* This section is about the Footer */
footer {
  display: flex;
  margin-top: 30px;
}
#footer2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 65%;
  align-items: center;
  justify-content: space-around;
  border-left-style: solid;
}
#contactme {
  width: 35%;
  text-align: right;
  font-size: 30px;
}

/* Footer section is above */

@media screen and (max-width: 890px) {
  footer {
    display: flex;
    flex-direction: column;
  }
  #footer2 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  #contactme {
    text-align: center;
    width: 100%;
    font-size: 5vw;
    margin-bottom: 3vw;
  }
}
