body {background-color: white;}
:root {--color1:black;}

/* this is for the navigation section */
.bg-light {background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%) !important; padding: 15px 5px !important; font-size: 25px !important;} 

.nav-link{margin-left: 10px !important;}


a {text-decoration: none;}
a:active {color: var(--color1);}
a:link {color: var(--color1)}
a:visited {color: var(--color1)}




/* 
This part is for About Me section */
#aboutme {margin: 200px 0px;}

#text {font-size: 50px; margin-bottom: 50px;}

#paragraph {font-size: 30px}

#aboutme{ animation: fadeIn 10s; 
    -webkit-animation: fadeIn 10s;
    -moz-animation: fadeIn 10s;
    -o-animation: fadeIn 10s;
    -ms-animation: fadeIn 10s;}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
#myimage {border-radius: 100%;}
/* 
About Me section is above */


/* this is the projects section */
#mywork {display: flex; }
#workexamples {display: flex; flex-wrap: wrap;justify-content: center;
    width: 65vw; border-left: solid;}
#header {width: 35vw; font-size: 3vw; text-align: right;}
.card {margin: 0px 50px 20px 50px; width: 20vw; height: 20vw;}
#image1 {width: 40vw; height: 30vw;}




/* This section is about the Footer */
footer {display: flex; margin-top: 30px; }
#footer2 {display: flex; flex-wrap: wrap; justify-content: center; width: 65%;
align-items: center; justify-content: space-around; border-left-style: solid;}
#contactme{width: 35%; text-align: right; font-size: 30px;}

/* Footer section is above */


@media screen and (max-width: 890px){
    footer{display: flex; flex-direction: column;}
    #footer2 {display: flex; flex-direction:column; width: 100%;}
    #contactme {text-align: center; width: 100%; font-size: 5vw; margin-bottom: 3vw;}
    
    
    #mywork, #workexamples {margin-top: 100px; display: flex;
         flex-direction: column; align-items: center; border-style: none;}
    #workexamples {margin: 10px; display: flex; width: 100%;} 
    #image1{width: 80%; height: 50%}
    #image2, #image3, #image4 {width: 30%; height: 30%;}
    #header {text-align: center; font-size: 8vw;}      
}



















    



    






























